[Desktop Entry]
Version=1.0
Type=Link
Name=ASL tutorial
Comment=
Icon=user-bookmarks
URL=https://quantiphyse.readthedocs.io/en/latest/asl/asl_tutorial.html
