[Desktop Entry]
Version=1.0
Type=Link
Name=CEST tutorial (preclinical)
Comment=
Icon=user-bookmarks
URL=https://quantiphyse.readthedocs.io/en/latest/cest/cest_tutorial.html
