[Desktop Entry]
Version=1.0
Type=Link
Name=CEST tutorial (clinical)
Comment=
Icon=user-bookmarks
URL=https://quantiphyse.readthedocs.io/en/latest/cest/clinical_tutorial.html
