[Desktop Entry]
Version=1.0
Type=Link
Name=CVR tutorial
Comment=
Icon=user-bookmarks
URL=https://quantiphyse.readthedocs.io/en/latest/cvr/tutorial.html
