[Desktop Entry]
Version=1.0
Type=Link
Name=qBOLD tutorial
Comment=
Icon=user-bookmarks
URL=https://quantiphyse.readthedocs.io/en/latest/qbold/tutorial.html
