[Desktop Entry]
Version=1.0
Type=Link
Name=BASIL Tutorial
Comment=
Icon=user-bookmarks
URL=https://asl-docs.readthedocs.io/en/latest/gui_tutorial.html

